{% extends 'base.html.twig' %}

{% block body %}

<table class="author-list">
    <thead>
        <tr>
            <th>Author ID</th>
            <th>Author Name</th>
            <th>Quotes</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for author in authors %}
        <tr>
            <td>{{author.id}}</td>
            <td>{{author.name}}</td>
            {% for quote in quotes %}
            <td>{{quote.quote}}</td>
            {% endfor %}
            <td>
                <a href =" {{ path('author_show', {'id':entity.id}) }} " class="btn btn-default"> Show </a>
                <a href =" {{ path('author_edit', {'id':entity.id})}} " class="btn btn-danger"> Edit </a>
            </td>
        </tr>
        {% endfor%}
    </tbody>
</table>

<a href="{{ path('author_new')}}">Create</a>



{% endblock %}